[onsight.wav]
row=3
col=2

[installed-2013-06-22.txt]
row=4
col=2

[code]
row=2
col=1

[linx]
row=3
col=4

[text]
row=1
col=0

[mouser-shoppinglist.txt]
row=0
col=5

[2013-06-04-180257_1366x768_scrot.png]
row=5
col=8

[catfacts.txt]
row=5
col=3

[data_since_rsync]
row=6
col=10

[tmp]
row=2
col=0

[linxupload.sh]
row=4
col=4

[certs]
row=1
col=1

[2013-06-14-235304_3286x1080_scrot.png]
row=1
col=8

[2013-06-08-021220_3286x1080_scrot.png]
row=0
col=8

[etc]
row=4
col=1

[packages.txt]
row=3
col=9

[TO_READ.txt]
row=3
col=6

[bitcoin_20130210.dat]
row=4
col=3

[badwolf-home]
row=6
col=0

[1h8m_rpitop.s3g]
row=4
col=8

[I_am_movied.txt]
row=5
col=2

[ifcfg-eth1.bak]
row=2
col=4

[vms]
row=3
col=0

[ubuntu-setup.sh]
row=7
col=0

[ifcfg-eth0.bak]
row=6
col=6

[2013-06-14-235710_3286x1080_scrot.png]
row=2
col=8

[01 On Sight.m4a]
row=2
col=10

[2013-06-14-235850_3286x1080_scrot.png]
row=5
col=5

[2013-06-05-023944_3286x1080_scrot.png]
row=0
col=9

[TO_DOWNLOAD.txt]
row=2
col=6

[The Prodigy - Live Rock Am Ring 2009 Full Concert [720p].mp4]
row=5
col=10

[VID_GAS_2.mp4]
row=5
col=6

[icecast-streams.txt]
row=2
col=11

[VID_GAS_1.mp4]
row=2
col=9

[singlemonitor.sh]
row=4
col=10

[dualmonitors.sh]
row=6
col=9

[facts.txt]
row=4
col=9

[2013-06-15-214842_1366x768_scrot.png]
row=0
col=6

[Dropbox]
row=2
col=2

[photo.JPG]
row=2
col=3

[working]
row=5
col=0

[component_inventory.xls]
row=6
col=3

[gpg-keys.tc]
row=1
col=9

[backups.asc]
row=3
col=3

[url.txt]
row=0
col=3

[quotes.bsd]
row=1
col=4

[setup-theme.sh]
row=6
col=2

[TO_DO.txt]
row=1
col=6

[WANT.txt]
row=1
col=3

[incoming]
row=5
col=1

[2013-06-14-235940_3286x1080_scrot.png]
row=6
col=5

[2013-06-14-235813_3286x1080_scrot.png]
row=4
col=5

[notes.txt]
row=2
col=5

[makefacts.sh]
row=5
col=4

[2013-06-04-200545_1366x768_scrot.png]
row=6
col=8

[TO_RIP.txt]
row=4
col=6

[2013-06-05-123128_1366x768_scrot.png]
row=0
col=7

[Downloads]
row=5
col=9

[media]
row=0
col=2

[movies-todo.txt]
row=1
col=5

[2013-06-07-225140_3286x1080_scrot.png]
row=6
col=7

[bak]
row=0
col=1

[2013-06-05-224925_3286x1080_scrot.png]
row=1
col=7

[2013-06-05-225420_3286x1080_scrot.png]
row=3
col=7

[docs]
row=3
col=1

[notes]
row=1
col=2

[2013-06-07-220039_3286x1080_scrot.png]
row=5
col=7

[1h28m_rpibot.s3g]
row=3
col=8

[ref.tc]
row=3
col=5

[2013-06-05-225734_3286x1080_scrot.png]
row=4
col=7

[archlinux-2013.06.01-dual.iso]
row=0
col=11

[fhs-mhazinsk.md]
row=1
col=10

[2013-06-05-225336_3286x1080_scrot.png]
row=2
col=7

[config.bak]
row=0
col=4

[log]
row=6
col=1

[dom7366x6.jpg]
row=3
col=10

[Home]
row=0
col=0

[Trash]
row=4
col=0

